@import url('https://fonts.googleapis.com/css?family=Poppins');
/* @import 'react-slidy/lib/styles.css'; */
html {
    font-family: 'Poppins', sans-serif;
}
/* html {
  font-family: Arial, Helvetica, sans-serif;
} */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: lightgreen;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: black;
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.discord-button {
  background-color: white;
  color: lightgreen;
  font-size: larger;
  padding: 0.5em;
  border-radius: 0.25em;
  border-color: white;
  border-width: 0;
  border-style: inset;
}
.discord-button:hover {
  cursor: pointer;
  background-color: lightgreen;
  color: white;
  border-width: 0.1em;

}